*{
    box-sizing: border-box;
}
.row{margin: 0!important;}
nav.navbar{
    background-color: #cfad48;
    position: fixed;
    width: 100%;
    z-index: 10000
}
nav img{
    height: 50px;
}
body{
    background-color: #eaeaea;
    margin: 0;
    overflow-x: hidden;
}
p{text-align: justify;}
.formulario p{text-align: center;padding-bottom: 10px;}
main{
    padding-top: 76px;
}
main .banner-home{
    position: relative;
    width: 100%;
    height: 80vh;
}
main .banner-home .banner-img{
    height: 100%;
    width: 100%;
    background-image: url(../img/uniplac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
main .banner-home h1{    
    color: #eaeaea;
    z-index: 1000;
    position: absolute;
    left: 100px;
    top: 30vh;
    font-size: 100px;
    line-height: 51px;
}
main .banner-home h1 small {
    font-size: 0.5em;
}

main .banner-home .background-filter{
    position: absolute;
    background-color: #0000006d;
    height: 100%;
    width: 100%;
}

.card {
    background-color: #093e74;
    box-shadow: 0 0px 10px #0000008f;
    color: #f1f1f3;
    border-radius: 105px 105px 15px 15px;
    padding: 5px;
    margin-top: 5px;
}
.question{
    padding:15px 0;
    text-align: center;
}
.question p{
    margin-bottom: 0;
}

@media(max-width:600px){
    main .banner-home h1 {
        color: #eaeaea;
        z-index: 1000;
        position: relative;
        left: 20px;
        top: 20vh;
        font-size: 61px;
        line-height: 51px;
    }
}

.card-img-top{
    height: 200px;
    border-radius: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-text{
    margin-top: 40px;
    height: 280px;
    font-size: 14px;
}

.foto_si{
    width: 250px;
    right: 25px;
    bottom: 20px;
    position: absolute;
}

.card-title{
    height: 50px;
    text-shadow: black 1px 1px;
}

.row-parag{
    font-size: 17px;
    padding-top: 25px;
}

.img1{
    background-image: url(../img/laboratorio1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img2{
    background-image: url(../img/laboratorio2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img3{
    background-image: url(../img/laboratorio3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title2{
    text-align: right;
}

.text-center{
    text-shadow: grey 1px 1px;
}

.sanscd{
    text-shadow: black 1.5px 1.5px;
}

.title{
    text-shadow: grey 1px 1px;
}

footer{
    background-color: #cfad48;
    font-size: 18px;
    padding: 15px 0;
}
footer i{
    font-size: 40px;
    padding-left: 15px;
}

a{
    text-decoration: none;
}

.adress{
    font-size: 15px;
    padding-right: 15px;
    position: center;
    display: inline;
}

.adress-footer{
    float: right;
}

div i{
    padding-right: 15px;
    font-size: 30px;
}

/*.logofooter{
    float: right;
    display: inline;
}/*
